<p id="notice"><%= notice %></p>

<p>
  <strong>Worm:</strong>
  <%= @grill_worm.worm %>
</p>

<p>
  <strong>Can take:</strong>
  <%= @grill_worm.can_take %>
</p>

<p>
  <strong>Is dead:</strong>
  <%= @grill_worm.is_dead %>
</p>

<%= link_to 'Edit', edit_grill_worm_path(@grill_worm) %> |
<%= link_to 'Back', grill_worms_path %>
