<p id="notice"><%= notice %></p>

<h1>Listing Player Worms</h1>

<table>
  <thead>
    <tr>
      <th>Player worm set</th>
      <th>Worm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_worms.each do |player_worm| %>
      <tr>
        <td><%= player_worm.player_worm_set %></td>
        <td><%= player_worm.worm %></td>
        <td><%= link_to 'Show', player_worm %></td>
        <td><%= link_to 'Edit', edit_player_worm_path(player_worm) %></td>
        <td><%= link_to 'Destroy', player_worm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player worm', new_player_worm_path %>
