<p id="notice"><%= notice %></p>

<p>
  <strong>Player worm set:</strong>
  <%= @player_worm.player_worm_set %>
</p>

<p>
  <strong>Worm:</strong>
  <%= @player_worm.worm %>
</p>

<%= link_to 'Edit', edit_player_worm_path(@player_worm) %> |
<%= link_to 'Back', player_worms_path %>
