<%= form_for(@grill) do |f| %>
  <% if @grill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grill.errors.count, "error") %> prohibited this grill from being saved:</h2>

      <ul>
      <% @grill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_state_id %><br>
    <%= f.text_field :game_state_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
