<%= form_for(@frozen_dice_status) do |f| %>
  <% if @frozen_dice_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frozen_dice_status.errors.count, "error") %> prohibited this frozen_dice_status from being saved:</h2>

      <ul>
      <% @frozen_dice_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.number_field :total %>
  </div>
  <div class="field">
    <%= f.label :has_worm %><br>
    <%= f.number_field :has_worm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
