<p id="notice"><%= notice %></p>

<h1>Listing Frozen Dice Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Game state</th>
      <th>Total</th>
      <th>Has worm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frozen_dice_statuses.each do |frozen_dice_status| %>
      <tr>
        <td><%= frozen_dice_status.game_state %></td>
        <td><%= frozen_dice_status.total %></td>
        <td><%= frozen_dice_status.has_worm %></td>
        <td><%= link_to 'Show', frozen_dice_status %></td>
        <td><%= link_to 'Edit', edit_frozen_dice_status_path(frozen_dice_status) %></td>
        <td><%= link_to 'Destroy', frozen_dice_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frozen dice status', new_frozen_dice_status_path %>
