<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @frozen_dice_status.game %>
</p>

<p>
  <strong>Total:</strong>
  <%= @frozen_dice_status.total %>
</p>

<p>
  <strong>Has worm:</strong>
  <%= @frozen_dice_status.has_worm %>
</p>

<%= link_to 'Edit', edit_frozen_dice_status_path(@frozen_dice_status) %> |
<%= link_to 'Back', frozen_dice_statuses_path %>
