<%= form_for(@worm_tile) do |f| %>
  <% if @worm_tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worm_tile.errors.count, "error") %> prohibited this worm_tile from being saved:</h2>

      <ul>
      <% @worm_tile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :worm_count %><br>
    <%= f.number_field :worm_count %>
  </div>
  <div class="field">
    <%= f.label :image_id %><br>
    <%= f.text_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :theme_id %><br>
    <%= f.text_field :theme_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
