<p id="notice"><%= notice %></p>

<h1>Listing Worm Tiles</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Worm count</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worm_tiles.each do |worm_tile| %>
      <tr>
        <td><%= worm_tile.value %></td>
        <td><%= worm_tile.worm_count %></td>
        <td><%= worm_tile.image %></td>
        <td><%= link_to 'Show', worm_tile %></td>
        <td><%= link_to 'Edit', edit_worm_tile_path(worm_tile) %></td>
        <td><%= link_to 'Destroy', worm_tile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worm tile', new_worm_tile_path %>
