<p id="notice"><%= notice %></p>

<p>
  <strong>Active dice set:</strong>
  <%= @active_dice.active_dice_set %>
</p>

<p>
  <strong>Dice:</strong>
  <%= @active_dice.dice %>
</p>

<p>
  <strong>Can freeze:</strong>
  <%= @active_dice.can_freeze %>
</p>

<%= link_to 'Edit', edit_active_dice_path(@active_dice) %> |
<%= link_to 'Back', active_dices_path %>
