<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_worm_set.player %>
</p>

<p>
  <strong>Game:</strong>
  <%= @player_worm_set.game %>
</p>

<%= link_to 'Edit', edit_player_worm_set_path(@player_worm_set) %> |
<%= link_to 'Back', player_worm_sets_path %>
