<p id="notice"><%= notice %></p>

<p>
  <strong>Game state:</strong>
  <%= @frozen_dice_set.game_state %>
</p>

<p>
  <strong>Dice:</strong>
  <%= @frozen_dice_set.dice %>
</p>

<%= link_to 'Edit', edit_frozen_dice_set_path(@frozen_dice_set) %> |
<%= link_to 'Back', frozen_dice_sets_path %>
