<p id="notice"><%= notice %></p>

<h1>Listing Player Options</h1>

<table>
  <thead>
    <tr>
      <th>Game state</th>
      <th>Can roll</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_options.each do |player_option| %>
      <tr>
        <td><%= player_option.game_state %></td>
        <td><%= player_option.can_roll %></td>
        <td><%= link_to 'Show', player_option %></td>
        <td><%= link_to 'Edit', edit_player_option_path(player_option) %></td>
        <td><%= link_to 'Destroy', player_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player option', new_player_option_path %>
