<p id="notice"><%= notice %></p>

<h1>Listing Active Dice Sets</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_dice_sets.each do |active_dice_set| %>
      <tr>
        <td><%= active_dice_set.game %></td>
        <td><%= link_to 'Show', active_dice_set %></td>
        <td><%= link_to 'Edit', edit_active_dice_set_path(active_dice_set) %></td>
        <td><%= link_to 'Destroy', active_dice_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Active dice set', new_active_dice_set_path %>
