<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @gamestate.game %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @gamestate.phase %>
</p>

<%= link_to 'Edit', edit_gamestate_path(@gamestate) %> |
<%= link_to 'Back', gamestates_path %>
