<p id="notice"><%= notice %></p>

<h1>Listing Grill Worm Tiles</h1>

<table>
  <thead>
    <tr>
      <th>Grill</th>
      <th>Worm</th>
      <th>Can take</th>
      <th>Is dead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grill_worm_tiles.each do |grill_worm_tile| %>
      <tr>
        <td><%= grill_worm_tile.grill %></td>
        <td><%= grill_worm_tile.worm %></td>
        <td><%= grill_worm_tile.can_take %></td>
        <td><%= grill_worm_tile.is_dead %></td>
        <td><%= link_to 'Show', grill_worm_tile %></td>
        <td><%= link_to 'Edit', edit_grill_worm_tile_path(grill_worm_tile) %></td>
        <td><%= link_to 'Destroy', grill_worm_tile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grill worm tile', new_grill_worm_tile_path %>
