<%= form_for(@frozen_dice) do |f| %>
  <% if @frozen_dice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frozen_dice.errors.count, "error") %> prohibited this frozen_dice from being saved:</h2>

      <ul>
      <% @frozen_dice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :frozen_dice_set_id %><br>
    <%= f.text_field :frozen_dice_set_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
