<p id="notice"><%= notice %></p>

<h1>Listing Frozen Dices</h1>

<table>
  <thead>
    <tr>
      <th>Frozen dice set</th>
      <th>Dice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frozen_dices.each do |frozen_dice| %>
      <tr>
        <td><%= frozen_dice.frozen_dice_set %></td>
        <td><%= frozen_dice.dice %></td>
        <td><%= link_to 'Show', frozen_dice %></td>
        <td><%= link_to 'Edit', edit_frozen_dice_path(frozen_dice) %></td>
        <td><%= link_to 'Destroy', frozen_dice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frozen dice', new_frozen_dice_path %>
