<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @worm.value %>
</p>

<p>
  <strong>Worm count:</strong>
  <%= @worm.worm_count %>
</p>

<%= link_to 'Edit', edit_worm_path(@worm) %> |
<%= link_to 'Back', worms_path %>
